html, body{
    padding:0;
    margin:0;
    overflow-x:hidden;
    background-color: #c9f8f8;
}
#header_one{
    position:absolute;
    width:100%;
    height:200px;
    background-color: #B3E5FC;
    display:flex;
    justify-content: center;
    box-shadow:0px 60px 290px  black;
}
#overlay{
    width:350px;
    max-width:600px;
    flex-grow:1;
    margin-left:50px;
    margin-right:50px;
    height:500px;
    background-color:aquamarine;
    margin-top: 100px;
    border-radius: 20px;
    padding-right:10px;
    padding-left:10px;
    text-align:center;
}
#overlay:hover{
    transition: all 0.6s ease; 
    transform: scale(1.05); 
    box-shadow: 0px 5px 190px black;
}
.sets{
    width:350px;
    max-width: 600px;
    flex-grow: 1;
    height:260px;
    background-color:#A5D6A7;
    border-radius:10px;
}
.sets:hover{
    transition: all 0.6s ease; 
    transform: scale(1.05);
    box-shadow: 0px 5px 190px black;
}
#travelling_box{
    margin-top:620px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-right:50px;
    margin-left:50px;
    position:relative;
    z-index:2;
    
}
html::-webkit-scrollbar{
    display:none;
}
#bottom_box_1{
    position:relative;
    margin-top:20px;
    width:100%;
    height:200px;
    background-color: #B3E5FC;
    display:flex;
    justify-content: center;
}
#navigation_1{
    position:absolute;
    height:50px;
    width:100%;
    background-color: #73b4d2;
}
